__pycache__/
*.pyc
*.log
filestore/
sessions/
venv/
odoo-env/
config/odoo.conf
.vscode/
.DS_Store
third_party_addons/dark_mode_knk/static/description/*.png
third_party_addons/dark_mode_knk/static/description/*.jpg
third_party_addons/dark_mode_knk/static/description/*.jpeg
third_party_addons/dark_mode_knk/static/description/*.gif
third_party_addons/dark_mode_knk/static/description/*.mp4
third_party_addons/dark_mode_knk/static/description/*.webm
third_party_addons/dark_mode_knk/static/description/*.avi
third_party_addons/dark_mode_knk/static/description/*.mov

muk_web_appsbar/static/description/*.png
muk_web_appsbar/static/description/*.jpg
muk_web_appsbar/static/description/*.jpeg
muk_web_appsbar/static/description/*.gif
muk_web_appsbar/static/description/*.svg

muk_web_chatter/static/description/*.png
muk_web_chatter/static/description/*.jpg
muk_web_chatter/static/description/*.jpeg
muk_web_chatter/static/description/*.gif
muk_web_chatter/static/description/*.svg


muk_web_colors/static/description/*.png
muk_web_colors/static/description/*.jpg
muk_web_colors/static/description/*.jpeg
muk_web_colors/static/description/*.gif
muk_web_colors/static/description/*.svg


muk_web_dialog/static/description/*.png
muk_web_dialog/static/description/*.jpg
muk_web_dialog/static/description/*.jpeg
muk_web_dialog/static/description/*.gif
muk_web_dialog/static/description/*.svg


muk_web_theme/static/description/*.png
muk_web_theme/static/description/*.jpg
muk_web_theme/static/description/*.jpeg
muk_web_theme/static/description/*.gif
muk_web_theme/static/description/*.svg